@import url("https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@700&family=Barlow+Semi+Condensed:wght@300;400;500;700&display=swap");
.btn-gral, .btn-rounded {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: black;
}

.btn-rounded {
  border-radius: 5px;
}

.header-gral, .header-contact-us, .header-events, .header-artists, .header-about-us {
  height: 30vh;
  background-size: cover;
  background-position: top center;
  background-image: url(..//img/headers/header-home.jpg);
}

.header-about-us {
  background-image: url(..//img/headers/header-home2.jpg);
}

.header-artists {
  background-image: url(..//img/headers/header-home3.jpg);
}

.header-events {
  background-image: url(..//img/headers/header-home4.jpg);
}

.header-contact-us {
  background-image: url(..//img/headers/header-home5.jpg);
}

p {
  font-family: "Barlow+Semi+Condensed", sans-serif;
  color: black;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
}

.bg-green {
  background-color: rgb(1, 255, 56);
}

.botonera {
  background-color: rgb(255, 255, 255);
}
.botonera ul li {
  padding-top: 24px;
}
.botonera ul li a {
  font-size: 18px;
  font-weight: 300;
}
.botonera ul li a:hover {
  text-decoration: underline;
  font-weight: 400;
}
.botonera img {
  width: 400px !important;
}
@media (min-width: 320px) {
  .botonera img {
    width: 150px;
  }
}

@media screen and (max-width: 768px) {
  footer {
    gap: 10px;
  }
  footer div:nth-child(1) {
    padding-top: 40px;
  }
  footer div:nth-child(2) {
    padding-top: 70px;
    margin: -40px;
  }
  footer div:last-child {
    padding: 10px;
  }
}
* {
  padding: 0%;
  margin: 0%;
}

body {
  background-color: white;
  font-family: "Barlow+Semi+Condensed", sans-serif;
  padding-bottom: 20px;
}

h1 {
  color: white;
  font-size: 56px;
  font-weight: 500;
  padding-bottom: 20px;
}

h2, h3, h4, p {
  color: white;
}

h2 {
  color: white;
  font-size: 30px;
  font-weight: 700;
}

h3 {
  line-height: 28px;
  font-weight: 300;
  font-size: 22px;
  margin-bottom: 20px;
}

h4 {
  line-height: 10px;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 20px;
}

p {
  line-height: 24px;
  margin-top: 5px;
  margin-bottom: 20px;
}

nav {
  background-color: white;
  top: 0%;
  left: 0%;
}
nav ul {
  list-style: none;
  display: flex;
}
nav li {
  margin-right: 10px;
}
nav a {
  color: black;
  text-decoration: none;
  font-family: "Barlow+Semi+Condensed", sans-serif;
  font-weight: 400;
  font-size: 22px;
}
nav a:hover {
  color: rgb(35, 33, 33);
  text-decoration: underline;
}

header img {
  width: 100%;
  object-fit: cover;
}

/*Css Home*/
.bg-dm {
  background-color: rgba(19, 18, 18, 0.927);
  width: auto;
  height: auto;
  padding: 80px 60px 60px 60px;
}

.box-home {
  padding-top: 60px;
  background-color: black;
}
.box-home h2 {
  color: rgb(1, 255, 56);
  font-size: 42px;
}
.box-home h3 {
  color: gray;
}
.box-home img {
  padding-top: 20px;
}
.box-home .btn {
  margin-right: 10px;
}
.box-home .btn:hover {
  background-color: white !important;
  cursor: pointer;
}

.container-fluid {
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 60px;
}

.bg-button {
  background-color: rgb(1, 255, 56);
  height: auto;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.home-artist .card {
  padding-top: 12px;
  padding-bottom: 20px;
  margin: 15px;
}
.home-artist .card-title {
  color: black;
}
.home-artist .card-text {
  color: black;
  font-size: 16px;
}
.home-artist .btn:hover {
  color: rgb(1, 255, 56);
  cursor: pointer;
}

.artistas .card {
  padding-left: 40px;
  margin-bottom: 30px;
}
.artistas .card-body {
  padding-bottom: 40px;
  padding-left: 30px;
}
.artistas .card-text {
  color: white;
  font-size: 15px !important;
  text-align: left;
}
.artistas .btn:hover {
  background-color: white !important;
  cursor: pointer;
}

footer .under-page {
  background-color: rgb(255, 255, 255);
  padding-top: 60px;
}
footer .box1 {
  margin-left: 60px;
  margin-right: 30px;
  padding-bottom: 40px;
}
footer .box1 img {
  width: 350px !important;
}
@media (min-width: 320px) {
  footer .box1 img {
    width: 150px;
  }
}
footer .box2 {
  margin-left: 90px;
}
footer .box2 h2 {
  color: rgb(1, 255, 56);
}
footer .box2 p {
  color: black;
  padding-bottom: 20px;
  padding-right: 20px;
}
footer .box3 {
  margin-left: 90px;
  padding-bottom: 20px;
}
footer .box3 h2 {
  color: rgb(1, 255, 56);
}
footer .box3 img {
  margin-top: 10px;
  margin-right: 10px;
  width: 50px !important;
}
footer .group2 {
  margin-top: 20px;
  padding: 15px;
  background-color: rgb(244, 245, 245);
}

.nosotros h2 {
  color: rgb(1, 255, 56);
  margin-top: 20px;
}
.nosotros p {
  margin-top: 20px;
  padding-right: 40px;
  text-align: justify;
  line-height: 1.5em;
}
.nosotros img {
  margin-top: 50px;
}

.events {
  margin-top: 60px;
  margin-bottom: 40px;
}
.events h3 {
  margin-top: 10px;
  font-size: 32px !important;
}
.events .card {
  margin-bottom: 40px;
}

.events {
  margin: 0px;
}
.events h2 {
  color: rgb(1, 255, 56);
}
.events .card {
  padding: 12px;
}
.events .card-title {
  color: black;
  font-weight: 700;
}
.events .card-text {
  color: black;
}
.events .btn:hover {
  background-color: black !important;
  color: white;
  cursor: pointer;
}

.contact form {
  padding-right: 50px;
}
.contact button:hover {
  background-color: rgb(1, 255, 56) !important;
  cursor: pointer;
}

/*# sourceMappingURL=main.css.map */
