@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@700&family=Barlow+Semi+Condensed:wght@300;400;500;700&display=swap');

*{
    padding: 0%;
    margin: 0%;
}

.botonera {
    background-color: rgb(1, 255, 56);
    padding-top: 24px;
    padding-right: 60px;
}
    .botonera img{
        padding-left: 60px;
        width: 300px;
    }

    .botonera li a:hover{
        text-decoration: underline;
    }


    .card-title{
        color: black;
        padding-left: 20px;
        padding-top: 20px;
        font-size: 32px;
    }

    .card-text{
        color: black;
        padding-left: 20px
    }

    .bg-button{
        background-color: rgb(1, 255, 56);
        height: auto;
        margin: auto;
        padding-left: 20px;
        padding-right: 20px;
    }

    .container-fluid{
        padding-left: 60px;
        padding-right: 60px;
        padding-bottom: 20px;
    }

    main h1{
        padding-top: 20px;
        padding-left: 60px;
        color: black;
    }

body{
    background-color: rgb(255, 255, 255); 
    font-family: 'Barlow+Semi+Condensed', sans-serif;
    padding-bottom: 20px;
}

h1{
    color:white;
    font-size: 46px;
    font-weight: 100;  
    padding-bottom: 20px;
}

h2,h3,h4,p{color: rgb(255, 255, 255)}
h2{ 
    color:white;
    font-size: 24px;
    font-weight: 700;
}

h3{
    line-height: 18px;
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 20px;
}

h4{
    line-height: 2px;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 20px;
}

p{
    color: rgb(255, 255, 255);
    font-weight: 200;
    line-height: auto;
    margin-top: 5px;
    margin-bottom: 20px;
}

.texto-left{
    text-align: left;
}

.bg-background{
    background-color: rgba(19, 18, 18, 0.927);
    width: auto;
    height: auto;
    margin: auto;
}


nav{
    background-color: #ffffff;
    padding: 30px 60px;
    height: auto;
    position: sticky;
    top: 0%;
    left: 0%;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 380px;
}

    nav ul {
    list-style: none;
    display: flex;
    /*display: inline-block;*/
}

        nav ul li {
            /*display: inline-block;*/
           margin-right: 10px;
}

            nav ul li a{
                color: black;
                text-decoration: none;
                font-family: 'Barlow+Semi+Condensed', sans-serif;
                font-weight: 400;
               font-size: 17px;
}

                nav ul li a:hover {
                    color: rgb(35, 33, 33);
                    text-decoration: underline;
                }
                    
      
header img{
    width: 100%;
    object-fit: cover;
}


.box-top{
    color:white;
    background-color: black;
    font-size: 18px;
    padding: 10px 60px;
    text-align: center;
}

.contenedor{
    background-color: rgba(19, 18, 18, 0.927);
    width: auto;
    height: auto;
    margin: 20px auto;
    padding: 60px;
    padding-bottom: 60px;
}


/*Inicia Artists*/

.artistas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 30px;
}

    .artistas figure{
        width: 30%;
        border: 1px green;
        background-color: #ffffff;
        margin: 10px 0;
        padding-bottom: 40px;
    }

        .artistas figure figcaption{
            color: rgb(0, 0, 0);
            font-size: 30px;
            font-weight: 600;
            padding-top: 20px;
            padding-left: 20px;
        }

        .artistas p{
            color: rgb(0, 0, 0);
            padding-left: 20px;
        }

            .artistas figure img {
                width: 100%;
            }

                .artistas figure button{
                    background-color: black;
                    color: #ffffff;
                    border: none;
                    padding: 12px 30px;
                    margin-top: 10px;
                    margin-left: 20px;
                    font-size: 14px;
                }

                    .artistas figure button:hover{
                        background-color: rgb(1, 255, 56);
                        cursor: pointer;

                    }

/* Inicia About Us*/

.grid-dm section h1::before{
    content: url(../img/favicon-dm\ copia.png);
    padding-right: 10px;
}

/* Prueba de selector de imagen puntual

section img[src="../img/Detlef-2023.webp"]{
    filter: grayscale(1);
}
section img:hover[src="../img/Detlef-2023.webp"]{
    filter: none;
}
*/

h1::first-line{
    font-style: italic; 
}


footer img{
    width: 80px;
    margin-left: 10px;
}


.grid-dm{
background-color: rgba(19, 18, 18, 0.927);
margin: 10px auto;
padding-left: 70px;
padding-bottom: 90px;
display: grid;
grid-template-columns: repeat(5, 13%);
grid-template-rows: repeat (3 auto);
gap: 20px;
grid-template-areas: 
"titulo titulo titulo titulo titulo"
"subtitulo subtitulo subtitulo subtitulo subtitulo"
"marzo abril julio . ."
"uno dos tres cuatro cinco"
"seis siete ocho . ."
"nueve diez . . .";
}

.grid-dm h2,h3{
    margin-top: 10px;
}

.grid-dm h2:hover{
    color: rgb(1, 255, 56);
    cursor: pointer;
}

.grid-dm .titulo{
    grid-area: titulo;
    padding-top: 60px;
}

.grid-dm .subtitulo{
    grid-area: titulo;
    padding-bottom: 10px;
}

.grid-dm .marzo{
    grid-area: marzo;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-dm .abril{
    grid-area: abril;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-dm .julio{
    grid-area: julio;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-dm .uno{
    grid-area: uno;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-dm .dos{
    grid-area: dos;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-dm .tres{
    grid-area: tres;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-dm .cuatro{
    grid-area: cuatro;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-dm .cinco{
    grid-area: cinco;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-dm .seis{
    grid-area: seis;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-dm .siete{
    grid-area: siete;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-dm .ocho{
    grid-area: ocho;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-dm .nueve{
    grid-area: nueve;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-dm .diez{
    grid-area: diez;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Inicia Footer*/

footer{
    padding: 0 30px;
    padding-top: 40px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 30px;
    text-decoration: none;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

    footer img{
        width: 80px;
        margin-left: 10px;
}

footer h4{
    color: rgb(139, 139, 139);
    padding-top: 15px;
}

        footer ul{
            list-style: none;
        }

            footer ul li a{
                font-size: 14px;
                color: black;
            }


/* Inicia Responsive
======= MEDIA QUERIES ======= */

/* 1er breakpoint Tablet; */
@media (width < 768px){
    #grid-dm{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6,auto);
        grid-template-areas: 
        "titulo"
        "subtitulo"
        "uno"
        "dos"
        "tres"
        "cuatro"
        "cinco"
        "seis"
        "siete"
        "ocho"
        "nueve"
        "diez";
    }

    nav{
        justify-content: center;
    }

    nav ul{
        display: none;
    }

    .grid-dm section{
        padding: 10px;
        flex-direction: column;
      }
    
      footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
      }


      footer div:nth-child(1){
        padding-top: 40px;
        
    }      

        footer div:nth-child(2){
            padding-top: 70px;
            margin: -40px;
        }      

        footer div:last-child{
            padding: 10px;
        }

}