//variables globales

//colors
$mainColor: black;
$secondaryColor: white;
$keyColor: rgb(1, 255, 56);

//fonts
$mainFont: 'Barlow+Semi+Condensed', sans-serif;

//sizing
$textSm: 20px;
$textMd: 22px;
$textLg: 30px;
$textXl: 56px;

//font weight
$fontLight: 300;
$fontBold: 700;
$fontRegular: 400;
$fontMedium:500;

